/* Variables and mixins declared here will be available in all other SCSS files */
$background-color: #080808;
$text-color: #787878;
$important-text: #e7e7e7;
$important-text-alpha: #e7e7e759;
$important-text-alpha-s: #e7e7e728;

// Header

$developer: #4400ff;
$artist: #ff00dd;
